<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.simple">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <service android:name=".SimpleService"></service>

        <receiver android:name=".events.screen.ScreenOnBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
